.form_input {
  margin-right: 400px;
  margin-top: 50px;
  margin-bottom: 100px;
  position: relative;
}
#form_input_bai1 {
  position: absolute;

  transition: 0.3s;
}
#form_input_bai2 {
  position: absolute;
  display: none;
  transition: 0.3s;
}
#form_input_bai3 {
  position: absolute;
  display: none;
  transition: 0.3s;
}
#form_input_bai4 {
  position: absolute;
  display: none;
  transition: 0.3s;
}
#form_input_bai5 {
  position: absolute;
  display: none;
  transition: 0.3s;
}
